---
name: traefik

networks:
  dsproxy:
  traefik:
    external: true
services:
  traefik:
    image: traefik:v3.5.2@sha256:f0abbbd11ced29754d4d188c29e9320b613481ec162b6ea5d3a8b6bdd8e5fa54
    container_name: traefik
    restart: unless-stopped
    depends_on:
      - dsproxy
    networks:
      - default
      - dsproxy
      - traefik
    healthcheck:
      test: [CMD, traefik, healthcheck, --ping]
      interval: 1m
      retries: 3
      timeout: 10s
      start_period: 1m
    ports:
      # "web" HTTP listener
      - 0.0.0.0:80:80/tcp
      # "websecure" HTTPS listener
      - 0.0.0.0:443:443/tcp
    command:
      - --accesslog=true
      - --api.dashboard=true
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.tls=true
      - --global.checknewversion=false
      - --log.level=WARN
      - --metrics.prometheus.addrouterslabels=true
      - --metrics.prometheus=true
      - --ping=true
      - --providers.docker.endpoint=tcp://dsproxy:2375
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=traefik
      - --providers.docker=true
    labels:
      - traefik.enable=true
      - traefik.http.routers.api_route.entrypoints=web
      - traefik.http.routers.api_route.rule=Host(`traefik.localhost`)
      - traefik.http.routers.api_route.service=api@internal
      - traefik.http.routers.api_route.middlewares=api_auth
      - traefik.http.middlewares.api_auth.basicauth.users=example:$$apr1$$YhtGlcCF$$YAf5de95WAOyUufiUV1F10

  # Security-enhanced proxy for the Docker Socket
  dsproxy:
    image: tecnativa/docker-socket-proxy:v0.4.1@sha256:3400c429c5f9e1b21d62130fb93b16e2e772d4fb7695bd52fc2b743800b9fe9e
    container_name: traefik-dsproxy
    restart: unless-stopped
    networks:
      - dsproxy
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://127.0.0.1:2375/version || exit 1
      interval: 1m
      retries: 3
      timeout: 10s
      start_period: 1m
    volumes:
      - ${XDG_RUNTIME_DIR:-/var/run}/docker.sock:/var/run/docker.sock:ro
    environment:
      DISABLE_IPV6: true
      CONTAINERS: 1
      NETWORKS: 1
      SERVICES: 1
      TASKS: 1

  vector:
    image: timberio/vector:0.49.0-alpine@sha256:2a31648e67280953aaf6b219c1b04729ac5ed12820ec2bfb698630b2d989d135
    container_name: traefik-vector
    restart: unless-stopped
    depends_on:
      - traefik
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://127.0.0.1:8686/health || exit 1
      interval: 1m
      retries: 3
      timeout: 10s
      start_period: 1m
    volumes:
      - ./vector.yml:/etc/vector/vector.yaml:ro

  # Simple service for testing
  whoami:
    image: traefik/whoami:v1.11.0@sha256:200689790a0a0ea48ca45992e0450bc26ccab5307375b41c84dfc4f2475937ab
    container_name: whoami
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.whoami.rule=Host(`whoami.localhost`)
      - traefik.http.routers.whoami.entrypoints=web
