---
name: traefik

networks:
  dsproxy:
  traefik:
    external: true

services:
  traefik:
    image: traefik:v3.6.6@sha256:82d3d16dde0474a51fef00b28de143d48b67f7a27453224d5e7b5aaefff26a97
    container_name: traefik
    restart: unless-stopped
    read_only: true
    cap_drop: [ALL]
    security_opt: [no-new-privileges]
    depends_on:
      dsproxy:
        condition: service_healthy
    networks:
      - default
      - dsproxy
      - traefik
    healthcheck:
      test: [CMD, traefik, healthcheck, --ping]
      interval: 1m
      retries: 3
      timeout: 10s
      start_period: 1m
    ports:
      - name: web
        mode: ingress
        host_ip: 0.0.0.0
        published: 80
        target: 80
        protocol: tcp
        app_protocol: http
      - name: websecure
        mode: ingress
        host_ip: 0.0.0.0
        published: 443
        target: 443
        protocol: tcp
        app_protocol: https
    command:
      - --accesslog=true
      - --api.dashboard=true
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.tls.options=default
      - --entrypoints.websecure.http.tls=true
      - --global.checknewversion=false
      - --global.sendAnonymousUsage=false
      - --log.level=WARN
      - --metrics.prometheus.addrouterslabels=true
      - --metrics.prometheus=true
      - --ping=true
      - --providers.docker.endpoint=tcp://dsproxy:2375
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=traefik
      - --providers.docker=true
    labels:
      - traefik.enable=true
      - traefik.http.routers.api_route.entrypoints=web
      - traefik.http.routers.api_route.rule=Host(`traefik.localhost`)
      - traefik.http.routers.api_route.service=api@internal
      - traefik.http.routers.api_route.middlewares=api_auth
      - traefik.http.middlewares.api_auth.basicauth.users=example:$$apr1$$YhtGlcCF$$YAf5de95WAOyUufiUV1F10

  # Security-enhanced proxy for the Docker Socket
  dsproxy:
    image: wollomatic/socket-proxy:1.10.1@sha256:967150d21954992de5a141fc66eb8a392695644fdb2fbb31dfbbdfd3f563ee86
    container_name: traefik-dsproxy
    restart: unless-stopped
    read_only: true
    cap_drop: [ALL]
    security_opt: [no-new-privileges]
    user: 0:0
    networks:
      - dsproxy
    healthcheck:
      test: [CMD, /healthcheck]
      interval: 1m
      retries: 3
      timeout: 10s
      start_period: 1m
    volumes:
      - ${XDG_RUNTIME_DIR:-/var/run}/docker.sock:/var/run/docker.sock:ro
    environment:
      SP_ALLOW_GET: /v1\..{1,2}/(version|containers/.*|events.*)
      SP_ALLOWFROM: traefik
      SP_ALLOWHEALTHCHECK: true
      SP_LISTENIP: 0.0.0.0
      SP_LOGLEVEL: INFO
      SP_STOPONWATCHDOG: true
      SP_WATCHDOGINTERVAL: 3600

  # Collects metrics from Traefik
  vector:
    image: timberio/vector:0.52.0-alpine@sha256:4be91e938bc85ad1915c2d66f77342078904ca3391934d590c8f523e66613ad7
    container_name: traefik-vector
    restart: unless-stopped
    read_only: true
    cap_drop: [ALL]
    security_opt: [no-new-privileges]
    depends_on:
      - traefik
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://127.0.0.1:8686/health || exit 1
      interval: 1m
      retries: 3
      timeout: 10s
      start_period: 1m
    volumes:
      - ./vector.yml:/etc/vector/vector.yaml:ro

  # Simple service for testing
  whoami:
    image: traefik/whoami:v1.11.0@sha256:200689790a0a0ea48ca45992e0450bc26ccab5307375b41c84dfc4f2475937ab
    container_name: whoami
    restart: unless-stopped
    read_only: true
    cap_drop: [ALL]
    security_opt: [no-new-privileges]
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.whoami.rule=Host(`whoami.localhost`)
      - traefik.http.routers.whoami.entrypoints=web
