name: Main

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

env:
  ANSIBLE_HOME: ~/.ansible
  ANSIBLE_COLLECTIONS_PATH: ~/.ansible/collections
  PY_COLORS: "1"

jobs:
  lint:
    name: Lint code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Cache ansible requirements
        id: cache-reqs
        uses: actions/cache@v4
        with:
          key: reqs-${{ runner.os }}-${{ hashFiles('requirements.yml') }}
          path: ${{ env.ANSIBLE_COLLECTIONS_PATH }}

      - name: Install uv
        uses: astral-sh/setup-uv@b75a909f75acd358c2196fb9a5f1299a9a8868a4 # v6.7.0
        with:
          enable-cache: true

      - name: Install project
        run: uv sync --frozen

      - name: Install requirements
        if: steps.cache-reqs.outputs.cache-hit != 'true'
        run: uv run ansible-galaxy install -r requirements.yml

      - name: Lint code
        run: uv run ansible-lint

  test:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        molecule-distro: [ubuntu2404]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Cache ansible requirements
        id: cache-reqs
        uses: actions/cache@v4
        with:
          key: reqs-${{ runner.os }}-${{ hashFiles('requirements.yml') }}
          path: ${{ env.ANSIBLE_COLLECTIONS_PATH }}

      - name: Install uv
        uses: astral-sh/setup-uv@b75a909f75acd358c2196fb9a5f1299a9a8868a4 # v6.7.0
        with:
          enable-cache: true

      - name: Install project
        run: uv sync --frozen

      - name: Install requirements
        if: steps.cache-reqs.outputs.cache-hit != 'true'
        run: uv run ansible-galaxy install -r requirements.yml

      - name: Run tests
        run: make test-ci
        env:
          MOLECULE_DISTRO: ${{ matrix.molecule-distro }}
